NODE_RED_FORMAT_TO_JSON.txt
[{"id":"35cd6a3f.5acd86","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a7054d41.4ee8","type":"change","z":"35cd6a3f.5acd86","name":"COMM OK!","rules":[{"t":"set","p":"payload","pt":"msg","to":"RF OK!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["e370feb8.a9b7d","4538b82f.f593e8"]]},{"id":"a222352f.b537e8","type":"change","z":"35cd6a3f.5acd86","name":"COMM FIXING","rules":[{"t":"set","p":"payload","pt":"msg","to":"RF REPARACION","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[["e370feb8.a9b7d","4538b82f.f593e8"]]},{"id":"a33e2bd8.7b2a88","type":"change","z":"35cd6a3f.5acd86","name":"COMM HOPPING","rules":[{"t":"set","p":"payload","pt":"msg","to":"RF CAMBIO DE CANALES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["e370feb8.a9b7d","4538b82f.f593e8"]]},{"id":"73c9293.1bea5d8","type":"change","z":"35cd6a3f.5acd86","name":"COMM ERROR","rules":[{"t":"set","p":"payload","pt":"msg","to":"ERROR DE COMUNICACION","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":260,"wires":[["e370feb8.a9b7d","4538b82f.f593e8"]]},{"id":"47267352.a98e9c","type":"change","z":"35cd6a3f.5acd86","name":"CENTRAL ALARMA","rules":[{"t":"set","p":"payload","pt":"msg","to":"Estado de Alarma","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":360,"wires":[["eab38a3c.195018","ab8a80a.7ba598"]]},{"id":"2e557208.02351e","type":"change","z":"35cd6a3f.5acd86","name":"COMM INCOMPLETE","rules":[{"t":"set","p":"payload","pt":"msg","to":"RF INCOMPLETA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["e370feb8.a9b7d","4538b82f.f593e8"]]},{"id":"e370feb8.a9b7d","type":"debug","z":"35cd6a3f.5acd86","name":"DEBUG1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":200,"wires":[]},{"id":"eab38a3c.195018","type":"debug","z":"35cd6a3f.5acd86","name":"DEBUG2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":400,"wires":[]},{"id":"60d9b4cd.55a40c","type":"change","z":"35cd6a3f.5acd86","name":"CENTRAL FALLA","rules":[{"t":"set","p":"payload","pt":"msg","to":"Estado de Falla","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["eab38a3c.195018","ab8a80a.7ba598"]]},{"id":"2076167.756d2ea","type":"change","z":"35cd6a3f.5acd86","name":"CENTRAL NORMAL","rules":[{"t":"set","p":"payload","pt":"msg","to":"Estado Normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["eab38a3c.195018","ab8a80a.7ba598"]]},{"id":"583d9386.5ec19c","type":"change","z":"35cd6a3f.5acd86","name":"CENTRAL ESTADO DE ALARMA Y FALLA","rules":[{"t":"set","p":"payload","pt":"msg","to":"Estado de Alarma y Falla","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":480,"wires":[["eab38a3c.195018","ab8a80a.7ba598"]]},{"id":"5558a01d.988aa","type":"debug","z":"35cd6a3f.5acd86","name":"DEBUG3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":20,"wires":[]},{"id":"19a0cbcc.755494","type":"ui_text","z":"35cd6a3f.5acd86","group":"8a898509.ddcf68","order":0,"width":0,"height":0,"name":"Fecha Dashboard","label":"Fecha Ultimo Evento","format":"{{msg.payload}}","layout":"col-center","x":690,"y":60,"wires":[]},{"id":"4538b82f.f593e8","type":"ui_text","z":"35cd6a3f.5acd86","group":"8a898509.ddcf68","order":1,"width":0,"height":0,"name":"Comm Dashboard","label":"Comm RF","format":"{{msg.payload}}","layout":"col-center","x":730,"y":240,"wires":[]},{"id":"ab8a80a.7ba598","type":"ui_text","z":"35cd6a3f.5acd86","group":"8a898509.ddcf68","order":2,"width":0,"height":0,"name":"Central Dashboard","label":"Central de Alarma","format":"{{msg.payload}}","layout":"col-center","x":730,"y":360,"wires":[]},{"id":"5a090f86.76876","type":"ui_gauge","z":"35cd6a3f.5acd86","name":"Central","group":"cd96b9ee.ee11e8","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"SDAI","min":"-2","max":"2","colors":["#41a919","#fff600","#ff0303"],"seg1":"","seg2":"","x":780,"y":800,"wires":[]},{"id":"8372cc48.cc533","type":"change","z":"35cd6a3f.5acd86","name":"COMM OK!","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":560,"wires":[["ffc6ad18.e476e"]]},{"id":"70680c40.3aa0e4","type":"change","z":"35cd6a3f.5acd86","name":"COMM FIXING","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":600,"wires":[["ffc6ad18.e476e"]]},{"id":"9e134a05.cae3e8","type":"change","z":"35cd6a3f.5acd86","name":"COMM HOPPING","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":640,"wires":[["ffc6ad18.e476e"]]},{"id":"361cefb1.99a03","type":"change","z":"35cd6a3f.5acd86","name":"COMM ERROR","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":680,"wires":[["ffc6ad18.e476e"]]},{"id":"6a675cf.5e6eba4","type":"change","z":"35cd6a3f.5acd86","name":"CENTRAL ALARMA","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":780,"wires":[["5a090f86.76876","63a90952.22b0a8"]]},{"id":"df4ea97f.3b8688","type":"change","z":"35cd6a3f.5acd86","name":"COMM INCOMPLETE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":720,"wires":[["ffc6ad18.e476e"]]},{"id":"28a459e3.712ec6","type":"change","z":"35cd6a3f.5acd86","name":"CENTRAL FALLA","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":820,"wires":[["5a090f86.76876","f6a86397.60eb2"]]},{"id":"32b5bea.8075b42","type":"change","z":"35cd6a3f.5acd86","name":"CENTRAL NORMAL","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":860,"wires":[["5a090f86.76876"]]},{"id":"75d236bd.4470a8","type":"change","z":"35cd6a3f.5acd86","name":"CENTRAL ESTADO DE ALARMA Y FALLA","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":900,"wires":[["5a090f86.76876","f2c4efc.e7cd11"]]},{"id":"ffc6ad18.e476e","type":"ui_gauge","z":"35cd6a3f.5acd86","name":"RF","group":"cd96b9ee.ee11e8","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"RF Comm","min":"-2","max":"2","colors":["#39fe01","#b1ac1c","#fffe03"],"seg1":"","seg2":"","x":690,"y":620,"wires":[]},{"id":"98b3ab73.416e88","type":"ui_dropdown","z":"35cd6a3f.5acd86","name":"Lista de N_Nodes","label":"# :","tooltip":"Numero de nodos a monitorear","place":"Seleccione una opcion","group":"8498907f.a407a","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Sin Dispositivos Secundarios","value":"0","type":"str"},{"label":"1 Dispositivo Secundario","value":"1","type":"str"},{"label":"2 Dispositivos Secundario","value":"2","type":"str"}],"payload":"","topic":"","x":210,"y":1080,"wires":[["50ef3eb9.1b965"]]},{"id":"c32963d3.7727c","type":"ui_toast","z":"35cd6a3f.5acd86","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Evento","name":"Notificacion de Alarma","x":1220,"y":700,"wires":[]},{"id":"63a90952.22b0a8","type":"change","z":"35cd6a3f.5acd86","name":"NOTIFICACION ALARMA","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alarma presente en el Sistema","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":720,"wires":[["c32963d3.7727c"]]},{"id":"f6a86397.60eb2","type":"change","z":"35cd6a3f.5acd86","name":"NOTIFICACION FALLA","rules":[{"t":"set","p":"payload","pt":"msg","to":"Falla presente en el sistema","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":760,"wires":[["1e3f7590.dee37a"]]},{"id":"1e3f7590.dee37a","type":"ui_toast","z":"35cd6a3f.5acd86","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Evento","name":"Notificacion de Falla","x":1220,"y":760,"wires":[]},{"id":"c1705e0f.a7991","type":"ui_toast","z":"35cd6a3f.5acd86","position":"top right","displayTime":"3","highlight":"orange","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Evento","name":"Notificacion de Alarma/Falla","x":1240,"y":840,"wires":[]},{"id":"f2c4efc.e7cd11","type":"change","z":"35cd6a3f.5acd86","name":"NOTIFICACION ALARMA/FALLA","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alarma Y Falla presente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":840,"wires":[["c1705e0f.a7991"]]},{"id":"50ef3eb9.1b965","type":"file","z":"35cd6a3f.5acd86","name":"Config.txt","filename":"/home/pi/projects/DISP_PRIM_POSIX/src/Config.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":400,"y":1080,"wires":[[]]},{"id":"2185a916.8325a6","type":"ui_text","z":"35cd6a3f.5acd86","group":"8498907f.a407a","order":1,"width":0,"height":0,"name":"","label":"Numero de Nodos","format":"{{msg.payload}}","layout":"row-spread","x":210,"y":1160,"wires":[]},{"id":"d4512ba3.25eed8","type":"tail","z":"35cd6a3f.5acd86","name":"CSV File End","filetype":"text","split":"[\\r]{0}\\n","filename":"/home/pi/projects/DISP_PRIM_POSIX/src/STATES_LOG.txt","x":70,"y":20,"wires":[["9da30815.aa6588"]]},{"id":"9da30815.aa6588","type":"switch","z":"35cd6a3f.5acd86","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":":","vt":"str"},{"t":"cont","v":"COMM","vt":"str"},{"t":"cont","v":"ACTIVE","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":70,"y":100,"wires":[["5558a01d.988aa","19a0cbcc.755494"],["616e5851.d75018","51143f74.38b2c"],["4c77a760.a3f538","cc03f6ca.18dfb8"],["89bef0eb.5dfeb","65fa2f7b.3b1f1"]]},{"id":"616e5851.d75018","type":"switch","z":"35cd6a3f.5acd86","name":"Comm Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"COMM OK!","vt":"str"},{"t":"cont","v":"FIXING","vt":"str"},{"t":"cont","v":"HOPPING","vt":"str"},{"t":"cont","v":"ERROR","vt":"str"},{"t":"eq","v":"COMM OK! (INCOMPLETE)","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":160,"y":220,"wires":[["a7054d41.4ee8"],["a222352f.b537e8"],["a33e2bd8.7b2a88"],["73c9293.1bea5d8"],["2e557208.02351e"]]},{"id":"89bef0eb.5dfeb","type":"switch","z":"35cd6a3f.5acd86","name":"Estado Switch","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ALARM","vt":"str"},{"t":"cont","v":"FAIL","vt":"str"},{"t":"cont","v":"NORMAL","vt":"str"},{"t":"cont","v":"ALARM_FAIL","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":160,"y":420,"wires":[["47267352.a98e9c"],["60d9b4cd.55a40c"],["2076167.756d2ea"],["583d9386.5ec19c"]]},{"id":"51143f74.38b2c","type":"switch","z":"35cd6a3f.5acd86","name":"Comm Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"COMM OK!","vt":"str"},{"t":"cont","v":"FIXING","vt":"str"},{"t":"cont","v":"HOPPING","vt":"str"},{"t":"cont","v":"ERROR","vt":"str"},{"t":"eq","v":"COMM OK! (INCOMPLETE)","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":160,"y":640,"wires":[["8372cc48.cc533"],["70680c40.3aa0e4"],["9e134a05.cae3e8"],["361cefb1.99a03"],["df4ea97f.3b8688"]]},{"id":"65fa2f7b.3b1f1","type":"switch","z":"35cd6a3f.5acd86","name":"Estado Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ALARM","vt":"str"},{"t":"eq","v":"FAIL","vt":"str"},{"t":"cont","v":"NORMAL","vt":"str"},{"t":"eq","v":"ALARM_FAIL","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":160,"y":840,"wires":[["6a675cf.5e6eba4"],["28a459e3.712ec6"],["32b5bea.8075b42"],["75d236bd.4470a8"]]},{"id":"a255426.21b4ac","type":"ui_text","z":"35cd6a3f.5acd86","group":"8a898509.ddcf68","order":0,"width":0,"height":0,"name":"Nodos Activos Dashboard","label":"Nodos Activos","format":"{{msg.payload}}","layout":"row-center","x":930,"y":100,"wires":[]},{"id":"4c77a760.a3f538","type":"debug","z":"35cd6a3f.5acd86","name":"DEBUG15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":60,"wires":[]},{"id":"cc03f6ca.18dfb8","type":"split","z":"35cd6a3f.5acd86","name":"Nro Nodos","splt":"->","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":100,"wires":[["a255426.21b4ac"]]},{"id":"8a898509.ddcf68","type":"ui_group","z":"","name":"Resumen","tab":"59b2a7a8.18f5e8","order":2,"disp":true,"width":"6","collapse":true},{"id":"cd96b9ee.ee11e8","type":"ui_group","z":"","name":"Indicador","tab":"59b2a7a8.18f5e8","order":3,"disp":true,"width":"6","collapse":true},{"id":"8498907f.a407a","type":"ui_group","z":"","name":"Nodos del Sistema","tab":"59b2a7a8.18f5e8","order":1,"disp":true,"width":"6","collapse":true},{"id":"59b2a7a8.18f5e8","type":"ui_tab","z":"","name":"Sistema de Monitoreo Remoto de Alarma","icon":"dashboard","order":1,"disabled":false,"hidden":false}]